body {
  font-family: Arial, Helvetica, sans-serif;
}

.title-container {
  padding-left: 10px;
}

.web-title {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.news {
  display: flex;
}

.about {
  text-decoration: none;
}

.card {
  position: relative;
}

.readmore {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.but-link {
  text-decoration: none;
}

.next-but {
  align-self: center;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.spin-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}